services:
    mailpit:
        image: 'axllent/mailpit:latest'
        ports:
            - '${FORWARD_MAILPIT_PORT:-1025}:1025'
            - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
        networks:
            - sail
    rustfs:
        image: rustfs/rustfs:latest
        volumes:
            - data:/data
        ports:
            - "9900:9000"
            - "9901:9001"

volumes:
    data:
networks:
    sail:
        driver: bridge
