@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layer overrides */
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: theme('colors.gray.200');
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    body {
        font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", sans-serif;
    }
}

/* Sticky navbar */
.sticky {
    @apply fixed transition z-[9999] bg-white/80 dark:bg-dark/80;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sticky .navbar-logo {
    @apply py-2;
}

.sticky #navbarToggler span {
    @apply text-dark dark:text-white bg-dark;
}

.sticky #navbarCollapse li > a {
    @apply text-dark dark:text-white hover:text-primary dark:hover:text-primary hover:opacity-100;
}

#navbarCollapse li .ud-menu-scroll.active {
    @apply opacity-70;
}

.sticky #navbarCollapse li .ud-menu-scroll.active {
    @apply opacity-100 text-primary;
}

.sticky .loginBtn {
    @apply text-dark dark:text-white hover:text-primary dark:hover:text-primary hover:opacity-100;
}

.sticky .signUpBtn {
    @apply text-white bg-primary hover:bg-blue-dark hover:text-white;
}

.sticky #themeSwitcher ~ span {
    @apply text-dark dark:text-white;
}

/* Navbar toggler (hamburger) */
.navbarTogglerActive > span:nth-child(1) {
    @apply top-[7px] rotate-45 transform;
}
.navbarTogglerActive > span:nth-child(2) {
    @apply opacity-0;
}
.navbarTogglerActive > span:nth-child(3) {
    @apply top-[-8px] rotate-[135deg];
}

/* Swiper arrows */
.common-carousel .swiper-button-next:after,
.common-carousel .swiper-button-prev:after {
    @apply hidden;
}

.common-carousel .swiper-button-next,
.common-carousel .swiper-button-prev {
    @apply static h-12 w-12 rounded-lg bg-white dark:bg-dark shadow-testimonial-btn text-dark dark:text-white m-0 ease-out duration-200 hover:bg-primary hover:text-white hover:shadow-none;
}

.common-carousel .swiper-button-next svg,
.common-carousel .swiper-button-prev svg {
    @apply w-auto h-auto;
}
